<div class="mt-4">
    <p (click)="goToUp()" class="text-center top fw-bold p-4 mb-0 ">Back To Top</p>
</div>

<footer class="text-center text-lg-start text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 mt-0 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <div>
            <a routerLink="" class="me-4 text-secondary">
                <i class=" fab fa-facebook-f "></i>
            </a>
            <a routerLink="" class="me-4 text-secondary">
                <i class=" fab fa-google "></i>
            </a>
            <a routerLink=" " class="me-4 text-secondary">
                <i class="fab fa-twitter"></i>
            </a>
            <a routerLink="" class="me-4 text-secondary">
                <i class=" fab fa-instagram "></i>
            </a>
            <a routerLink=" " class="me-4 text-secondary">
                <i class="fab fa-linkedin"></i>
            </a>
            <a routerLink="" class="me-4 text-secondary">
                <i class=" fab fa-github "></i>
            </a>

        </div>
    </section>
    <section>
        <div class="container text-center text-md-start mt-5">
            <div class="row g-4 mt-3">
                <div class="col-sm-col-sm-12 col-md-6 col-lg-3 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <img src="../../assets/logo-footer.png" alt="logo" />
                    </h6>
                    <p>
                        you can buy all products that you search in eMarket
                    </p>
                </div>
                <div class="col-sm-col-sm-12 col-md-6 col-lg-3 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <span>
                        <a class="nav-link" routerLink="/products/laptop">Laptop</a>
                    </span>
                    <span>
                        <a class="nav-link" routerLink="/products/cameras">Camera</a>
                    </span>
                    <span>
                        <a class="nav-link" routerLink="/products/televisions">Televisions</a>
                    </span>
                    <span>
                        <a class="nav-link" routerLink="/products/tablets">Tablets</a>
                    </span>
                    <span>
                        <a class="nav-link" routerLink="/products/shaver">Shaver</a>
                    </span>
                    <span>
                        <a class="nav-link" routerLink="/products/microwave">Microwave</a>
                    </span>
                    <span>
                        <a class="nav-link" routerLink="/products/headphones">Headphones</a>
                    </span>
                    <span>
                        <a class="nav-link" routerLink="/products/airconditioner">Airconditioner</a>
                    </span>
                    <span>
                        <a class="nav-link" routerLink="/products/accessories">Accessories</a>
                    </span>
                </div>
                <div class="col-sm-1col-sm-12 col-md-6 col-lg-3 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Userful links
                    </h6>
                    <span>
                        <a routerLink="/cart" class="nav-link">Cart</a>
                    </span>
                    <span>
                        <a routerLink="/favarite" class="nav-link">Favarite</a>
                    </span>
                    <span>
                        <a routerLink="/search" class="nav-link">Search</a>
                    </span>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3 text-secondary"></i>Alex, Egypt</p>
                    <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i> ahmedhassan.2472
                    </p>
                    <p><i class="fas fa-phone me-3 text-secondary"></i> 01123686114</p>

                </div>
            </div>
        </div>
    </section>
</footer>