<header>
    <div class="layer h-100 w-100 d-flex justify-content-center align-items-center text-center">
        <div>
            <h3 class="text-white">Welcome</h3>
            <h3 class="text-white mb-5 mt-3">
                Buy All Product From One Store
            </h3>
            <div class="d-flex justify-content-center">
                <a routerLink="/products/laptop" class="btn-shop nav-link">Shop Now</a>
            </div>
        </div>

    </div>

</header>

<section class="w-100">
    <div class="container">
        <div>
            <h3 class="py-5">
                Categories
            </h3>
            <div class="row g-3 justify-content-center">
                @for (item of Categories; track item.id) {
                <div class="col-6 colmd-5 col-lg-3">
                    <div class="box bg-white p-3 rounded-3">
                        <a class="nav-link text-center" [routerLink]="item.link">
                            <img class="w-100" [src]="item.img" [alt]="item.name">
                            <h3 class="text-cetner h6">{{item.name}}</h3>
                        </a>
                    </div>

                </div> }
            </div>
        </div>
    </div>

</section>